.profile__edit-button {
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  display: flex;
  box-sizing: border-box;
  border: 1px solid white;
  
}

@media screen and (max-width: 880px) {
  .profile__edit-button {

   
  }
}

@media screen and (max-width: 568px) {
  .profile__edit-button {

  
  }
}