.popup__figure { 
  margin: 0 auto;
  position: absolute;
  max-width: 75vw;
  max-height: 75vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

  @media screen and (max-width: 767px) {
    .popup__figure {
      /* top: 136px; */
    }
  }