.popup__figure { 
  margin: 0;
  position: absolute;
  max-width: 75vw;
  max-height: 75vh;
  left: 50%;
  transform: translateX(-50%);
  top: 90px;
}

  @media screen and (max-width: 767px) {
    .popup__figure {
      top: 136px;
    }
  }